
body{ background-image:url(../images/healthInfor.png);}

.article .text{width:880px;}
.text.articleList>ul{height:3.80rem;}
.text.articleList li{height:.38rem;line-height: .38rem;font-size: 20px;color:#fff;}  /* articleList.text  为了区分用articleList*/
.articleList li a{width:600px;display:block;color:#fff;cursor: pointer;  overflow : hidden;white-space:nowrap; text-overflow: ellipsis}
.articleList li a:hover{color:#f5a62f}

.articleList .textCenter{height:50px; line-height: 50px}
.M-box3{display:inline-block; }
.M-box3 a, .M-box3 input{color:#000;border:none}

.yuyue{margin-top:.20rem;}
.yuyue .yueLeft{width:635px;height:1.00rem;background: url(../images/yuyueLeft_03.png) no-repeat center;}
.yuyue .yueRight .icon{display:block;width:58px;height:1.00rem;margin-left: .20rem;float:left;background-position:center;background-repeat: no-repeat}
.yuyue .yueRight .icon.phone{background-image: url(../images/phone.png);margin-left:0;  position: relative }
.yuyue .yueRight .icon.phone a{width:auto;position: absolute;top:-.35rem; bottom:6px;color:#f5a62f;
    font-size: 28px;   display: none}
.yuyue .yueRight .icon.phone:hover a{display: block}
.yuyue .yueRight .icon.qq{background-image: url(../images/qq.png);}
.yuyue .yueRight .icon.weixin{background-image: url(../images/weixin.png);     position: relative}
.yuyue .yueRight .icon.weixin img{width:1.13rem;height:1.13rem; background:url(../images/code.png) no-repeat center;
    position: absolute;top:-1.20rem; left:-.30rem;  display: none }
.yuyue .yueRight .icon.weixin:hover img{display: block}


.recommend{width:268px;}
.recommend .top{height:3.15rem;padding:.15rem .15rem 0;margin-bottom:.10rem;background:url(../images/healthInforTop.png) no-repeat center;background-color: rgba(255,255,255,.8)}
.recommend .top>a{display:block;height:1.00rem;background: url(../images/recommend.png) no-repeat center;}
.recommend .top ul{height:1.70rem;overflow: hidden}
.recommend .down{height:2.15rem;padding:.15rem .15rem 0; background-color: #f5a62f}
.recommend .down ul{height:1.70rem;overflow: hidden}
.recommend .down h3, .recommend .down a{color:#fff;}

.recommend h3{height:.40rem;line-height: .40rem;color:#282831;font-size: 22px; }
.recommend li a{color:#282831;height:.35rem;line-height: .35rem; font-size: 18px;
    display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow : hidden;text-overflow: ellipsis
}

