.main{height:100%;   position: relative; }
.header{background-image: none}

.main .container{height:100%;position: relative;  }

.swiper-container{width:100%;height:100%;}
/*  .swiper-slide{text-align:center;}*/
.header{background-color: rgba(60,59,74,.8);}
.headerLeft{width:270px;height:64px;background: url(../images/logo.png) no-repeat center;background-size: contain} /* height:64px;*/
.headerRight p{font-size: 20px;color:#f3e489;line-height:32px;}   /* line-height:32px;*/

.slider{ position: relative;  height:100%;background-repeat:no-repeat;background-position: center;
    background-size:cover;background-color: rgba(29,27,27,1);   float: left; }
.sliderOne{  }/*background-image: url(images/shouye01.jpg)*/
.sliderTwo{background-image: url(../images/shouye02.jpg) }
.sliderTwo .content{position:absolute;left:6.7%;top:23.9%}
.sliderThree{background-image: url(../images/shouye03.png) }
.sliderThree .content h3{color:#fff}
.sliderFour{background-image: url(../images/shouye04.jpg) }
.sliderFour .content{position:absolute;right:6.7%;top:23.9%}
.sliderFive{background-image: url(../images/shouye05.png) }
.sliderFive .content{position:absolute;left:12.5%;top:32.6%}
/*共同*/
.content h4{font-size: 24px;line-height:40px;}
.content p{line-height:34px;font-size: 20px;}
.content a{display: inline-block;width:130px;height:56px;line-height:56px;
    text-align:center;background-color: #f5a62f;font-size:20px;color:#3c3b4a}
.white h4,.white p{color:#fff}
.black h4,.black p{color:#3c3b4a}

video{width:100%;height:100%; background-color: #000;  object-fit:fill;position:absolute;z-index:50}
.sliderOne .container{position: relative;top:0; z-index:100}

/* embed{position: absolute;z-index: 100}  !*width:500px;height:300px;设置宽高有效*!*/