*{ margin: 0;padding: 0;  }
html,body { width:100%;height:100%;font-family: "微软雅黑"; } /*  min-width:1200px;*/
ul{ list-style: none;  }
dl,dd,ul,li,input,img,td ,button{ border: 0;  }
a{ text-decoration: none; }
a:hover{ color:#fb921b }
.clear:after{ content:"200B";display:block;font-size:0;height:0;clear:both;}
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right}
.table{display: table;}
.table-cell{display: table-cell;  text-align: center; vertical-align: middle;}
.textCenter{ text-align: center}
.container{ width:1200px;margin:0 auto;   }  /*padding:0 10px*/
h4{font-size: 28px;color:#fff}
.padding80{position:relative;top:64px;bottom:99px;}

body{background-position: center; background-repeat: no-repeat;background-size: cover;  background-color: #1a1c24;}   /*background-color: #1a1c24;*/
/*头部*/
.header{width:100%;height:54px;background-repeat: no-repeat; background-position:  center;
        position: fixed;top:0; z-index:10 }
.header{background-image:url(../../images/introHeader.png);}
.title{padding:35px 0 }
.title h4{display:inline-block}
.title span{display:inline-block;font-size: 18px;color:#fff;margin-left:8px;}


/*尾部*/
.footer{width:100%;height:66px;background-color:rgba(60,59,74,.5);position: fixed;bottom:0; z-index:100}
.footer .tab{display:inline-block;}
.footer li{ width:98px;display: table;float:left;  cursor: pointer}
.footer li a{ height:62px;border-top:4px solid transparent;
        display: table-cell;text-align: center;vertical-align: middle;   color:#fff;font-size: 20px}
.footer li a.clickAct{border-top:4px solid #f5a62f; background-color: #fffadf; color:#3c3b4a; }
.footer li a.mouseAct{background-color:rgba(60,59,74,.7); border-top:4px solid transparent;}
.footer li a.mouseAct{color:#fff;}




